body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
}

li {
  list-style: none;
}

.top-line {
  background-color: #e7e9fc;
}

.logo {
  font-family: "Raleway";
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}

.logostudio {
  color: #2e2f42;
}

.menu-nav li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #2e2f42;
}

.menu-nav li a:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #404bbf;
  text-decoration: none;
}
.menu-nav.studio-activ:active {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #e7e9fc;
  text-decoration: underline;
}

.menu-address li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
  text-decoration: none;
}

.menu-address li a:hover {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #404bbf;
  text-decoration: none;
}

.header1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  background-color: #2e2f42;
  color: white;
}
.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
  border-radius: 4px;
}

.button-text:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background-color: #404bbf;
  width: 169px;
  height: 56px;
  border-radius: 4px;
}
.our-goal-items {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* color: #2e2f42; */
}

.our-goal-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}

.out-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  /* color: #2e2f42; */
}

.photo-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* color: #2e2f42; */
}

.photo-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}

.Our-Portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  /* color: #2e2f42; */
}

.header3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* color: #2e2f42; */
}
.img-items {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f4fd;
  background-color: #2e2f42;
}
