body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

li {
  list-style: none;
}

.top-line {
  background-color: #e7e9fc;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logostudio {
  color: #2e2f42;
}

.menu-nav li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.menu-nav li a:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3125;
  color: #404bbf;
  text-decoration: none;
}
.menu-nav.studio-activ:active {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #e7e9fc;
  text-decoration: underline;
}
.menu-address {
  font-style: normal;
}

.menu-address li a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.menu-address li a:hover {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #404bbf;
  text-decoration: none;
}

.section-header {
  background-color: #2e2f42;
}

.header1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: white;
  text-align: center;
  letter-spacing: 0.02em;
}
.section-ourgoal {
  background-color: white;
}

.header-our-goal {
  color: #2e2f42;
  background-color: white;
  letter-spacing: 0.02em;
}

.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.04em;
}

.button-text:hover {
  background-color: #404bbf;
}
.our-goal-items {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* color: #2e2f42; */
}

.our-goal-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.out-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* color: #2e2f42; */
}

.photo-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* color: #2e2f42; */
}

.photo-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.Our-Portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* color: #2e2f42; */
}

.header3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* color: #2e2f42; */
}
.img-items {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  background-color: #2e2f42;
}
